<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
	        <th>Applicant ID</th>
	        <th>First name</th>
		<th>Last name</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Applied Job</th>
		<th>Applied Date</th>
		<th>Action</th>
	</tr>
	
	<!--
		Using FOREACH LOOP for the applicants array
		
		myArray.forEach(function(el, index) {
			// el - current element, i - index
		});
	-->
	<% if (data) { %>
	<% data.forEach(function(applicant){ %>
		<tr>
			<td><%= applicant.applicant_id %></td>
			<td><%= applicant.first_name %></td>
			<td><%= applicant.last_name %></td>
			<td><%= applicant.email %></td>
			<td><%= applicant.phone %></td>
			<td><%= applicant.job_id %></td>
			<td><%= applicant.applied_date %></td>
			<td>
				<div style="float:left">
					<a href='/applicants/edit/<%= applicant.applicant_id %>'>Edit</a>
					<form method="post" action="/applicants/delete/<%= applicant.applicant_id %>" style="float:right">
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
						<input type="hidden" name="_method" value="DELETE" />
					</form>
				</div>
			</td>
		</tr>
	<% }) %>
	<% } %>

</table>

</div><!--container class-->
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
